{% import 'macros/macros.html.twig' as macros %}

<aside
    class="mt-5"
>
    {{ macros.anchor('experiences') }}

    <h2
        class="text-capitalize"
    >expériences</h2>
    
    {{ macros.experiences(experiences) }}
</aside>