{% import 'macros/macros.html.twig' as macros %}

<aside
    class="mt-5"
>
    {{ macros.anchor('studies') }}

    <h2
        class="text-capitalize"
    >études</h2>

    {{ macros.experiences(studies) }}
</aside>