<ul class="navbar-nav mr-auto">
    <li
        class="nav-item"
    >
        <a
            class="nav-link text-capitalize"
            href="#infos"
        >présentation</a>
    </li>
    <li
        class="nav-item"
    >
        <a
            class="nav-link text-capitalize"
            href="#experiences"
        >expériences</a>
    </li>
    <li
        class="nav-item"
    >
        <a
            class="nav-link text-capitalize"
            href="#studies"
        >études</a>
    </li>
    <li
        class="nav-item"
    >
        <a
            class="nav-link text-capitalize"
            href="#projects"
        >projets</a>
    </li>
</ul>
