<!DOCTYPE html>
<html
    lang="en"
>
    <head>
        <meta
            charset="utf-8"
        >
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        >

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        >
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.4.1/js/all.js"
            integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7"
            crossorigin="anonymous"
        ></script>

        <title>Kévin CASTEJON</title>

        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block body %}{% endblock body %}
    </body>
</html>
